// ************************************************************
//  サイト全体のフォントに関する指定や、リンクカラーなどの指定を行います
// ************************************************************

body, select, textarea, th, td, li, a, input {
    font-family: 'メイリオ','meiryo','ＭＳ Ｐゴシック','MS P Gothic','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ヒラギノ丸ゴシック Pro W3','Hiragino maru Gothic Pro','Helvetica','sans-serif';
}

body {
    background-color: #ffffff;
}

body, select, textarea {
    color: #333333;
    font-size: 14px;
    line-height: 1.4;
}

a {
    img:hover {
        opacity: .8;
        filter: alpha(opacity=80);
    }
    cursor: pointer;
    color: $base-link-color;
}

a:link    { color: $base-link-color; }
a:hover   { color: $base-hover-color; text-decoration: underline; }
a:active  { color: $base-hover-color; text-decoration: underline; }
a:visited { color: $base-visited-color; }

div, p, dl, dt, dd, ul, ol, li, a, span {
    word-break: break-all;
}

sup {
    vertical-align: top
}

label {
    font-size: 16px;
}
