// ************************************************************
//  サイト全体で利用されるグローバル変数を一括で管理します
// ************************************************************

//共通変数を入れていく
//ex.
$test: "test";

// base-link-color
$base-color: #333333;
$base-link-color: #004cca;
$base-hover-color: #d93e00;
$base-visited-color: #7359b2;
